html,
body,
#root {
  margin: 1rem;
  background: #26282c;
  color: #c5c4c7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.flex-start {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.15rem;
  cursor: pointer;
}

.flex-between {
  @extend .flex-start;
  justify-content: space-between;
}

.hover-color-change {
  &:hover {
    color: white;
  }
}

.hover-icon-visible {
  .icon-on-hover {
    visibility: hidden;
  }
  &:hover {
    .icon-on-hover {
      visibility: visible;
    }
  }
}