html,
body,
#root {
  background: #26282c;
  color: #c5c4c7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.15rem;
  cursor: pointer;
}

.flexBetweenContainer {
  @extend .flexContainer;
  justify-content: space-between;

  &:hover {
    color: white;
  }

  &:hover .iconPrimary {
    visibility: visible;
  }
}

.iconPrimary {
  visibility: hidden;
}