html,
body,
#root {
  margin: 1rem;
  background: #26282c;
  color: #c5c4c7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.flexStart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.15rem;
  cursor: pointer;
}

.flexBetween {
  @extend .flexStart;
  justify-content: space-between;
}

.hoverColorChange {
  &:hover {
    color: white;
  }
}

.hoverIconVisible {
  .iconOnHover {
    visibility: hidden;
  }
  &:hover {
    .iconOnHover {
      visibility: visible;
    }
  }
}

.errorWarning {
  color: red; 
	font-weight: bold;
	display: flex;
}